<h1>TinyApp - Shrtn yr URLs</h1>

<form method="POST" action="/login">
<label for="username">Current User:</label>
<h3><%= username %></h3>
<input style="width: 300px; margin:20px;" class="form-control" type="text" name="username">
<button type="submit" class="btn btn-primary">Login</button>

</form>

