<h1>TinyApp - Shrtn yr URLs</h1>


<% if (user !== undefined){ %>
<h3>Logged In As: <%= user.email %>!</h3>
<form method="POST" action="/logout">
<button type="submit" class="btn btn-primary" style= "margin: 0px 10px;">logout</button>
</form>
<% } else { %>
<a href="/login">Login</a> |
<a href="/register">Register</a>
<% } %>


